body{
    height:auto;
    overflow:auto;
    margin-top: 54px;
}
header{
    width: 100%;
    background-color:black;
    height:auto;
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    overflow:auto;
    z-index:10;
    .logo-outer{
        width:auto; 
        float:left;
        padding:10px 0px 10px 10px;
        img{
            margin-left: 20px;
            height:30px;
            float:left
        }
        a{
            text-transform: uppercase;
        }
        h4{
            color:white;
            text-decoration: none;
            margin-top:5px;
            margin-left: 5px;
            float:left;
        }
    }
    .header-left-container{
        float:left;
        border-left: 1px solid white;
        margin-left:15px;
        text-transform: uppercase;
        pointer-events: none;
       h4{ 
           font-size:15px;
       }
    }
    .top-menu{
    width: auto;
    float: right;
    li a{
        height: 54px;
        border-radius: 0px;
        color:white;
        }
        li a:hover{
          background-color: transparent;
          border:1px solid black;
          border-top: 1px solid white;
          cursor: pointer;
        }
        .user-picture{
          img{
              margin-top: 5px;
              margin-right: 10px;
              height: 35px;
              float:right;
          }
        }
        .user-info{
            a{
                color:#F44336;
                padding-right: 0px;
                cursor: pointer;
            }
            span{
                font-size: 10px;
                margin: 0px 5px;
            }
        }
    }
}
.catg-outer{
    display:block;
    overflow: auto;
}
 .nav-tabs{
     border:none;
 }
 
 .side-nav-outer{
     z-index: 0;
     width: 230px;
     background-color: #212121;
     position: fixed;
     height: 100%;
     bottom:0px;
     left:0px;
     color:white;
     padding-top: 54px;
     text-align:center;
     overflow: auto;
     
     ul{
         
         text-align:left;
         li > button{
         text-align: center;
         margin-top: 10px;
         margin-bottom: 5px;
         border-radius: 0px;
         width:190px;
            a{
             width: 100% !important;  
            }
         }
         li {
             padding: 9px 0px 9px 20px;
             border-bottom: 1px solid #424242;
             height:auto;
             overflow:auto;
             a{
             width: 180px;    
             padding:0px;
             font-size:14px;
             color: rgba(255,255,255,0.8);
             float:left;
             text-transform:uppercase;
             }
             a:hover{
                 background-color: transparent;
                 cursor: pointer; 
                 text-decoration: none;
             }
             span{
                 font-size: 10px;
             }
             ul{
                 padding-left:0px;
                 display:none;
                 
                 li{
                     border-bottom: none;
                     padding:5px 0px 5px 15px;
                     
                     span{
                         margin-right: 10px;
                     }
                 }
                 li:hover{
                     cursor: pointer;
                 }
             }
         }
         li:hover{
             opacity: 0.9;
             cursor: pointer;
         }
     }
 }
 
 main{
     z-index: -2;
     width: 100%;
     padding-left: 230px;
 }
 #file-upload{
     margin: auto;
     width: 60%;
     padding-top: 50px;
     text-align:center;
     h2{
         padding-left: 20px;
     }
     .file-icon{
         width: 20%;
         margin: 0px 40%;
         img{
             width:100%;
             margin-top:30px;
             opacity: 0.2;
         }
     }
     > button{
         width: 200px;
         margin-top: 20px;   
     }
 }
 .fileUploadOuter{
     position: relative;
     width:40%;
     margin:0px 30%;
     height:40px;
     button{
         position:absolute;
         border-radius:0px; 
         left:0px;
         top:0px;
     }
     div{
             height: 34px;
             border-top:1px solid grey;
             border-right:1px solid grey;
             border-bottom:1px solid grey;
             position:absolute;
            left:90px;
            top:0px;
            width: 200px;
         }
     input{
         position: absolute;
         opacity: 0;
         top:0px;
         left:0px;
     }
 }
 #details-outer{
     padding: 70px 5%;
     background-color: rgba(255,255,255,0.6);
     position: absolute;
     top:0px;
     left:0px;
     width:100%;
     min-height:100%;
     height:auto;
     overflow:auto;
     a{
         font-size: 28px;
         opacity: 0.9;
         float:right;
         margin:0px 20px;
     }
 }
 #details-inner{
     border: 1px solid rgba(0,0,0,0.3);
     background-color: white;
     padding:10px 10px;
     border-radius: 5px;
     -webkit-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.19);
     width:100%;
     a span{
         color:rgba(255,0,0,0.7);
     }
 }
 #dashboard-outer{
     padding:20px 150px;
 }
 #dashboar-inner{
     padding-bottom: 20px;
     border-top:1px solid black;
     border-bottom:1px solid black;
     text-align:center;
         img{
         width:40%;
         margin:0px 30%;
     }
 }
 .opactiyOn{
     opacity: 0.4;
 }
 .opactiyOff{
     opacity: 1;
 }
 .activeMenuItem{
     border-top: 2px solid white;
 }
 
 
 .results-outer{
     padding:20px 40px;
     h3{
         span{
             color:rgba(76,175,80,1);
             font-size: 30px;
         }
     }
     tbody > tr:hover{
         cursor: pointer;
         font-size:16px;
     }
 }
   
  .thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
.progress{
    margin-top: 20px;
}
/*
form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
*/