 <nav class="side-nav-outer" id="side-menu">
     
    <ul class="nav">
        <li  class="nav-primary">
            <button class="btn btn-primary" ng-click="getCustomers()" ><a href="index.html#/Dashboard/results">Search</a></button>
        </li> 
        <li  class="nav-primary" ng-repeat="(categoryKey,category) in sideMenuObjs"  ng-hide="category.hide">
            <div class="catg-outer"><a ng-click="subMenu_a()">{{category.category}}</a><span class="glyphicon glyphicon-plus"></span></div>
            <ul class="nav-inner"  ng-hide="{{category.isHidden}}">
                <li class="opactiyOn" ng-repeat="(key,optionIn) in category.options" ng-click="activateFiletr(categoryKey,key)"><span  class="glyphicon glyphicon-unchecked"></span>{{optionIn}}</li>
            </ul>
        </li> 
   </ul>
</nav>

        
<main ui-view>
    <div id="dashboard-outer">
        <div id="dashboar-inner">
            <h3>Knowledge Base</h3>
            <img src="images/dash-banner.jpg" class="img-responsive" alt="dashboard-img">
            
        </div>
    </div>
</main>