
<div id="details-outer">
    <div id="details-inner">
    <a href="index.html#/Dashboard/results" ><span class="glyphicon glyphicon-remove-circle"></span></a>
    <h3>{{customerIn}}' Details</h3>
    <table class="table table-striped">
    <tbody>
     <tr  ng-repeat=" objIn in detailsObject">
         <th class="col-xs-3">{{objIn[0]}}</th>
          <td>{{objIn[1]}}</td>
      </tr>
     <!-- <tr  >
          <th>Industry vertical</th>
          <td>{{detailsObject.industry_vertical}}</td>
      </tr>
      <tr  >
          <th>Industry 1</th>
          <td>{{detailsObject.industry_1}}</td>
      </tr>
      <tr  >
          <th>Industry 2</th>
          <td>{{detailsObject.industry_2}}</td>
      </tr>
      <tr  >
          <th>Industry 3</th>
          <td>{{detailsObject.industry_3}}</td>
      </tr>
      <tr  >
          <th>Reference Architecture Match</th>
          <td>{{detailsObject.reference_architecture_matched}}</td>
      </tr>
      <tr  >
          <th>Customer Description</th>
          <td>{{detailsObject.customer_description}}</td>
      </tr>
      <tr  >
          <th>Firmographics</th>
          <td>{{detailsObject.firmographics}}</td>
      </tr>
      <tr  >
          <th>Primary_PLCD</th>
          <td>{{detailsObject.primary_plcd}}</td>
      </tr>
      <tr  >
          <th>Secondary_PLCD</th>
          <td>{{detailsObject.secondary_plcd}}</td>
      </tr>
      <tr  >
          <th>Business Driver(Derived)</th>
          <td>{{detailsObject.Business_Driver_(Derived)}}</td>
      </tr>
      <tr>
          <th>Customer Requirement 1</th>
          <td>{{detailsObject.customer_requirement_#1}}</td>
      </tr> -->
    </tbody>
    </table>
    </div>
</div>