<form id="file-upload" name="form">
    <h2>Upload a file to start</h2>
    <div class="file-icon">
        <img src="images/icon-folder.png">
    </div>
   <!-- <div class="fileUploadOuter">
        <button class="btn btn-primary ">Chose file </button>
        <div></div>
        <input type="file" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Your label here." id="fileUploadInput">
     
    </div> -->
   <div ng-class="responseFlag.class" ng-hide="responseFlag.hidden">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{responseFlag.type}}</strong> {{responseFlag.message}}
  </div>
   <div class="progress" ng-hide="progressBar.hidden">
      <div ng-hide="progressBar.hidden" ng-class="progressBar.prgressBarClass" role="progressbar"
      aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%">
        {{f.progress}}%
      </div>
    </div>
   <div style="font:smaller">
        File:{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <!--<span class="progress" ng-show="f.progress >= 0">
            <div style="width:{{f.progress}}%"  
                 ng-bind="f.progress + '%'"></div>
        </span> -->
    </div>  
    <button class="btn btn-primary" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="*/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select File
    </button>
      
      
       
    <br>
    <!-- {{errorMsg}}
     <button ng-click="testingRest()">Testing button</button> 
    <br>
    <a href="index.html#/Dashboard" class="btn btn-primary" > Dashboard -></a>-->
</form>